<div class="col-md-8 col-md-offset-2">
  <h2 class="text-center">项目列表</h2>
  <table class="table">
    <tr>
      <th>项目名称</th>
      <th>项目描述</th>
      <th colspan="2">投票数</th>
    </tr>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= pluralize(project.votes.count, "vote") %></td>
        <td>
          <% if current_user %>
            <% if !current_user.has_voted_of?(project) %>
              <%= button_to '+1', upvote_project_path(project), method: :post %>
            <% else %>
              感谢支持
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
